<div class="list-cont">
  <div class="title-container">
    <p class="title-name">{{'name' | translate}}</p>
    <p class="title">{{'price' | translate}}</p>
    <p class="title">{{'crypt' | translate}}</p>
    <p class="title">{{'convert' | translate}}</p>
  </div>
  <div
    class="scroll-coin"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="500"
    (scrolled)="onScrollDown()"
    [scrollWindow]="false" >
    <app-coin *ngFor="let coin of visibleCoins" [coin]="coin"></app-coin>
  </div>
</div>
