<form [formGroup]="rForm" class="container-form" (ngSubmit)="convert(rForm.value)">
  <h1 class="convert-title">REALIZAR CAMBIO</h1>
  <label class="label-input">Seleccione las monedas</label>
  <input type="number" class="input-form" formControlName="amount" #qlt>
  <div class="select-cont">
  <select class="input-form select-form" [(ngModel)]='from' (change)="convertValues()" formControlName="from" >
    <option *ngFor="let coin of coins" value="{{coin.id_currency}}">{{coin.id_currency}}</option>
  </select>
  </div>
  <select class="input-form select-form" [(ngModel)]='to' formControlName="to" (change)="convertValues()">
    <option *ngFor="let coin of coins" value="{{coin.id_currency}}">{{coin.id_currency}}</option>
  </select>
  <input type="text" disabled=true class="input-form" [value]="quantity | currency">
  <button class="change-btn" (click)="changeConvertion()">change</button>
</form>
