<div class="list-cont">
    <div class="title-container">
      <p class="title-name">Nombre</p>
      <p class="title">Precio</p>
      <p class="title">Criptomoneda</p>
      <p class="title">Convertir</p>
    </div>
    <div
      class="test"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="500"
      (scrolled)="onScrollDown()"
      [scrollWindow]="false" >
      <app-coin *ngFor="let coin of visibleCoins" [coin]="coin"></app-coin>
    </div>
  </div>
