@import '~src/scss/_colors';

.coin-container {
  align-items: center;
  border: 1px solid $gray;
  display: grid;
  justify-content: center;
  grid-template-columns: 30% 25% 25% 20%;
  margin: 15px 30px;
  padding: 10px;

  .coin-price {
    color: $blue;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    justify-self: center;
  }

  .coin-crypt {
    display: flex;
    justify-content: center;
  }

  .coin-convert {
    align-items: center;
    justify-self: center;

    .img-convert {
      height: 30px;
      width: 30px;
    }
  }
}

.red-cont {
  color: $red;
  display: flex;
  justify-content: center;

  &::before {
    background-color: $red;
    border-radius: 50%;
    content: "";
    height: 15px;
    margin: 0 15px;
    width: 15px;
  }
}

.green-cont {
  color: $green;
  display: flex;
  justify-content: center;

  &::before {
    background-color: $green;
    border-radius: 50%;
    content: "";
    height: 15px;
    margin: 0 15px;
    width: 15px;
  }
}
