@import '~src/scss/_colors';

.background{
  background: $soft-blue;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;

  .background-img {
    background-color: $white;
    background-image: url("src/assets/footer.png");
    background-size: 1400px 300px;
    background-position-y: bottom;
    background-repeat: no-repeat;
    display: block;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -700px;
    width: 1400px;
    height: 100%;
    z-index: -1;
  }
}
